<p-card>
  <form (ngSubmit)="onSubmit()" [formGroup]="pncFromGroup">
    <div class="field grid flex justify-content-center mb-0">
      <div class="flex align-items-center justify-content-center">
        <label for="pnc" class="col-2">CNP</label>
        <div class="p-inputgroup col-10 h-2rem">
          <input pInputText
                 formControlName="pnc"
                 id="pnc"
                 type="text"
                 class="p-inputtext-sm
                 text-base text-color surface-overlay border-1 border-solid
                 border-round-xs border-bluegray-200 a outline-none focus:border-primary">
          <button pButton type="submit" label="Cauta" class="p-button-sm flex align-items-center justify-content-center"
                  icon="pi pi-search">
          </button>
        </div>
      </div>
    </div>
  </form>
</p-card>



