<div class="col-12 p-0 mb-0">
  <vmi-person [showCitizenship]="true"></vmi-person>
</div>


<div class="col-12 p-0 mb-0">
  <p-divider layout="horizontal">
    <div class="inline-flex align-items-center">
      <i class="pi pi-home mr-1" style="color:#64748B"></i>
      <b>Domiciliu/Date de contact</b>
    </div>
  </p-divider>
  <vmi-address></vmi-address>
</div>

<div class="col-12 p-0 mb-0">
  <vmi-person-detail></vmi-person-detail>
</div>

<div class="col-12 mt-2 p-0">
  <p-card>
    <div class="flex justify-content-between flex-wrap">

      <div class="flex align-items-center justify-content-center  font-bold text-gray-900 border-round">
        <button
          pButton type="button"
          class="p-button-sm p-button-secondary h-2rem"
          icon="pi pi-angle-left"
          (click)="prevStep()">
        </button>
      </div>

      <div class="flex align-items-center justify-content-center font-bold text-gray-900 border-round">
        <button
          pButton type="button"
          class="p-button-sm p-button-secondary h-2rem"
          icon="pi pi-angle-right"
          (click)="nextStep()">
        </button>
      </div>
    </div>
  </p-card>
</div>
