<p-card>
  <div class="grid">
    <div class="col-12  flex justify-content-center flex-wrap">
      <div class="mb-0 mr-2 align-items-center justify-content-center">
        <p-checkbox name="groupname1" [(ngModel)]="homeAddressCheckbox" [binary]="true"></p-checkbox>
        <label class="col-2 mr-2">Adresa de domiciliu </label>
      </div>

      <div class="mb-0 mr-2 align-items-center justify-content-center">
        <p-checkbox name="groupname1" [(ngModel)]="residenceAddressCheckbox" [binary]="true"></p-checkbox>
        <label class="col-2 mr-2">Adresa de resedinta </label>
      </div>

    </div>
    
    <div class="col-12">
      <p-divider layout="horizontal" class="md:p-0 md:m-0">
        <div class="inline-flex align-items-center">
          <i class="pi pi-circle-fill mr-2" style="color:#64748B"></i>
          <b>Adresa de corespondenta</b>
        </div>
      </p-divider>
      <vmi-address></vmi-address>

    </div>

    <div *ngIf="!homeAddressCheckbox" class="col-12">
        <p-divider layout="horizontal" class="md:p-0 md:m-0">
          <div class="inline-flex align-items-center">
            <i class="pi pi-circle-fill mr-2" style="color:#64748B"></i>
            <b>Adresa de domiciliu</b>
          </div>
        </p-divider>
      <vmi-address></vmi-address>
    </div>

    <div *ngIf="!residenceAddressCheckbox" class="col-12">
      <p-divider layout="horizontal" class="md:p-0 md:m-0">
        <div class="inline-flex align-items-center">
          <i class="pi pi-circle-fill mr-2" style="color:#64748B"></i>
          <b>Adresa de resedinta</b>
        </div>
      </p-divider>
      <vmi-address></vmi-address>
    </div>
  </div>
</p-card>
