<p-card>
  <div class="col-12">
    <vmi-person-searcher></vmi-person-searcher>
  </div>
</p-card>

<form (ngSubmit)="onSubmit()" [formGroup]="personFormGroup">
  <div class="col-12">
    <vmi-person-detail></vmi-person-detail>
  </div>

  <div class="col-12">
    <div class="flex justify-content-center flex-wrap card-container">
      <div class="flex align-items-center justify-content-center  font-bold text-gray-900 border-round m-2">
        <button pButton type="button" label="Renunta" class="p-button-sm p-button-danger h-2rem"></button>
      </div>
      <div class="flex align-items-center justify-content-center font-bold text-gray-900 border-round m-2">
        <button pButton type="submit" label="Adauga" class="p-button-sm p-button-primiry h-2rem"></button>
      </div>
    </div>
  </div>
</form>



