<p-card>
  <div class="grid">
    <div class="col-4 mb-0">
      <div class="field grid mb-0">
        <label class="col-6 " for="county">Judet </label>
        <div class="col-6">
          <input pInputText
                 id="county"
                 type="text"
                 class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
        </div>
      </div>
    </div>
    <div class="col-4 mb-0">
      <div class="field grid mb-0">
        <label class="col-6 mb-0" for="city">Oras/Comuna </label>
        <div class="col-6">
          <input pInputText
                 id="city"
                 type="text"
                 class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
        </div>
      </div>
    </div>

    <div class="col-4 mb-0">
      <div class="field grid mb-0">
        <label class="col-6" for="village">Sat </label>
        <div class="col-6">
          <input pInputText
                 id="village"
                 type="text"
                 class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
        </div>
      </div>
    </div>

    <div class="col-4 mb-0">
      <div class="field grid mb-0">
        <label class="col-6" for="street">Strada </label>
        <div class="col-6">
          <input pInputText
                 id="street"
                 type="text"
                 class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
        </div>
      </div>
    </div>

    <div class="col-4 mb-0">
      <div class="field grid mb-0">
        <label class="col-6" for="streetNr">Nr </label>
        <div class="col-6">
          <input pInputText
                 id="streetNr"
                 type="text"
                 class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
        </div>
      </div>
    </div>

    <div class="col-4 mb-0">
      <div class="field grid mb-0">
        <div class="col-6  mb-0">
          <div class="field grid mb-0">
            <label class="col-6" for="block">Bl. </label>
            <div class="col-6">
              <input pInputText
                     id="block"
                     type="text"
                     class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                                border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
            </div>
          </div>
        </div>

        <div class="col-6 mb-0">
          <div class="field grid mb-0">
            <label class="col-6" for="stairs">Sc. </label>
            <div class="col-6">
              <input pInputText
                     id="stairs"
                     type="text"
                     class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                                border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-4 mb-0">
      <div class="field grid mb-0">
        <div class="col-6 mb-0">
          <div class="field grid mb-0">
            <label class="col-6" for="floor">Et. </label>
            <div class="col-6">
              <input pInputText
                     id="floor"
                     type="text"
                     class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                                border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
            </div>
          </div>
        </div>

        <div class="col-6 mb-0">
          <div class="field grid mb-0">
            <label class="col-6" for="apartment">Ap. </label>
            <div class="col-6">
              <input pInputText
                     id="apartment"
                     type="text"
                     class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                                border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-0">
      <div class="field grid mb-0">
        <label class="col-6" for="sector">Sector</label>
        <div class="col-6">
          <input pInputText
                 id="sector"
                 type="text"
                 class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
        </div>
      </div>
    </div>

    <div class="col-4 mb-0">
      <div class="field grid mb-0">
        <label class="col-6" for="siruta">Siruta</label>
        <div class="col-6">
          <input pInputText
                 id="siruta"
                 type="text"
                 class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
        </div>
      </div>
    </div>
  </div>
</p-card>

