<form (ngSubmit)="onSubmit()" [formGroup]="formGroupModel">
  <p-card>
    <div class="field grid mb-0">
      <div class="col-4">
        <div class="field grid mb-0">
          <label class="col-6 mb-2" for="county">Judet </label>
          <div class="col-6 mb-2">
            <input pInputText
                   formControlName="county"
                   id="county"
                   type="text"
                   class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
          </div>
        </div>
      </div>
      <div class="col-4 ">
        <div class="field grid mb-0">
          <label class="col-6 mb-2" for="city">Oras/Comuna </label>
          <div class="col-6 mb-2m">
            <input pInputText
                   formControlName="city"
                   id="city"
                   type="text"
                   class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="field grid mb-0">
          <label class="col-6 mb-2" for="village">Sat </label>
          <div class="col-6 ">
            <input pInputText
                   formControlName="village"
                   id="village"
                   type="text"
                   class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="field grid mb-0">
          <label class="col-6 mb-2" for="street">Strada </label>
          <div class="col-6 mb-2">
            <input pInputText
                   formControlName="street"
                   id="street"
                   type="text"
                   class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="field grid mb-0">
          <label class="col-6 mb-2" for="streetNr">Nr </label>
          <div class="col-6 mb-2">
            <input pInputText
                   formControlName="streetNr"
                   id="streetNr"
                   type="text"
                   class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="field grid mb-0">
          <div class="col-6">
            <div class="field grid mb-0">
              <label class="col-6 mb-2" for="block">Bl. </label>
              <div class="col-6 mb-2">
                <input pInputText
                       formControlName="block"
                       id="block"
                       type="text"
                       class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                                border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="field grid mb-0">
              <label class="col-6 mb-2" for="stairs">Sc. </label>
              <div class="col-6 mb-2">
                <input pInputText
                       formControlName="stairs"
                       id="stairs"
                       type="text"
                       class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                                border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="field grid mb-0">
          <div class="col-6">
            <div class="field grid mb-0">
              <label class="col-6 mb-0" for="floor">Et. </label>
              <div class="col-6 mb-0">
                <input pInputText
                       formControlName="floor"
                       id="floor"
                       type="text"
                       class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                                border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
              </div>
            </div>
          </div>

          <div class="col-6 mb-0">
            <div class="field grid mb-0">
              <label class="col-6 mb-0" for="apartment">Ap. </label>
              <div class="col-6 mb-0">
                <input pInputText
                       formControlName="apartment"
                       id="apartment"
                       type="text"
                       class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                                border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="field grid mb-0">
          <label class="col-6 mb-0" for="sector">Sector</label>
          <div class="col-6 mb-0">
            <input pInputText
                   formControlName="sector"
                   id="sector"
                   type="text"
                   class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="field grid mb-0">
          <label class="col-6 mb-0" for="siruta">Siruta</label>
          <div class="col-6 mb-0">
            <input pInputText
                   formControlName="siruta"
                   id="siruta"
                   type="text"
                   class="p-inputtext-sm text-base text-color surface-overlay p-1 border-1 border-solid
                            border-round-xs border-bluegray-200 a outline-none focus:border-primary w-full">
          </div>
        </div>
      </div>
    </div>

  </p-card>
</form>


