<!--<p-scrollPanel [style]="{width: '100%', height: '450px'}">-->
<vmi-person [showCitizenship]="true"></vmi-person>

<div class="col-12 p-0 mb-0">
  <p-divider layout="horizontal">
    <div class="inline-flex align-items-center">
      <i class="pi pi-home mr-1" style="color:#64748B"></i>
      <b>Domiciliu/Date de contact</b>
      <label class="ml-5 mr-4">Adresa de resedinta </label>
      <p-checkbox name="groupname1"
                  [(ngModel)]="residenceAddressCheckbox"
                  [binary]="true">
      </p-checkbox>
    </div>
  </p-divider>
  <vmi-address></vmi-address>
</div>

<div class="col-12 p-0 mb-0" *ngIf="!residenceAddressCheckbox">
  <p-divider layout="horizontal">
    <div class="inline-flex align-items-center">
      <i class="pi pi-info-circle mr-1" style="color:#64748B"></i>
      <b>Resedinta</b>
    </div>
  </p-divider>
  <vmi-address></vmi-address>
</div>

<div class="col-12 mt-2 p-0">
  <p-card>
    <div class="flex justify-content-between flex-wrap">

      <div class="flex align-items-center justify-content-center  font-bold text-gray-900 border-round">
        <button
          pButton type="button"
          class="p-button-sm p-button-secondary h-2rem"
          icon="pi pi-times"
          (click)="cancelRequest()">
        </button>
      </div>

      <div class="flex align-items-center justify-content-center font-bold text-gray-900 border-round">
        <button
          pButton type="button"
          class="p-button-sm p-button-secondary h-2rem"
          icon="pi pi-angle-right"
          (click)="nextStep()">
        </button>
      </div>
    </div>
  </p-card>
</div>
<!--</p-scrollPanel>-->




